{% extends "base.html" %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8 row pin-detail-container">
    <div class="col-md-6">
        <img style="height: fit-content;width: 400px;border-radius: 20px;"  src="{{ pin.image.url }}" alt="">
    </div>
    <div class="col-md-6">
        <div class="row">
            <form action="" method="post">
                {% csrf_token %}
                <div class="col-md-6">{{form.board}}</div>
                <div class="col-md-1">
                    <button type="submit" class="text-white" style="background-color: #e60023; border-radius: 0 30px 30px 0;border: 0;padding-top: 7px;padding-bottom: 7px;padding-left: 7px;padding-right: 10px;margin-left: -25px;"><b>Save</b></button>
                </div>
            </form>
        </div>
        <p><a class="text-black" href="http://{{pin.link}}">{{ pin.link }}</a></p>
        <h1><b>{{pin.title}}</b></h1>
        <div class="row">
            <div class="col-md-1">
                <img src="{{ pin.user.profile.photo.url }}" class="rounded-circle" width="50" height="50" alt="">
            </div>
            <div class="col-md-7 ms-4">
                <b>{{pin.user.username}}</b>
                <p style="font-size: 13px;">0 followers</p>
            </div>
            <div class="col-md-1 mt-1 ms-3">
                <a style="background-color: #efefef; border-radius: 50px;" href="" class="btn text-black"><b>Follow</b></a>
            </div>
        </div>
        <div class="mt-1">{{ pin.description }}</div>
        <h5 class="mt-3"><b>Comments</b></h5>
        <div class="mt-5"><b>{{pin.user.username}}</b> saved to <b>{{pin.board.title}}</b></div>
    </div>
</div>
<div class="col-md-2"></div>
{% endblock %}