div#masonry {
	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 200vw;
	width: 290px;
	margin: 0;
}
div#masonry img { 
	width: 100%;
}
