{% extends "base.html" %}
{% block content %}
<div class="container">
    <div style="background-color: #efefef;height: auto;" class="row">
    <div class="col-md-3"></div>
    <div style="border-radius: 15px;" class="col-md-6 mt-5 mb-5 bg-white">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="col-md-12 p-5">
        <div class="row">
          <div class="col-md-5"></div>
            <div class="col-md-6"> {{form.board}}</div>
            <div class="col-md-1">
                <button type="submit" class="text-white" style="background-color: #e60023; border-radius: 0 30px 30px 0;border: 0;padding-top: 7px;padding-bottom: 7px;padding-left: 7px;padding-right: 10px;margin-left: -25px;"><b>Save</b></button>
            </div>
            <div class="col-md-12 mt-3">{{form.title}}</div>
            <div class="col-md-12 mt-3">{{form.description}}</div>
            <div class="col-md-12 mt-3">{{form.link}}</div>
            <div class="col-md-12 mt-3 mb-2">{{form.file}}</div>
        </div>
    </form>
    </div>
    </div>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
    {% endblock %}