{% extends "base.html" %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8 pt-2 pb-2 row pin-detail-container">
    <div class="col-md-6">
        {% if pin.get_type == 'video' %}
        <video autoplay muted controls class="pin-detail-img">
            <source src="{{ pin.file.url }}">
        </video>
        {% elif pin.get_type == 'image' %}
        <img src="{{ pin.file.url }}" class="pin-detail-img">
        {% endif %}
    </div>
    <div class="col-md-6 mt-4">
        <form action="{% url 'boards:save_to_board' pin.id %}" class="mb-3" method="post">
        <div class="row">
            {% csrf_token %}
            <div class="dropdown col-md-6 mt-2">
                <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="gUZ pBj" height="20" width="20" viewBox="0 0 24 24" aria-label="More options" role="img">
                        <path d="M12 9c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3M3 9c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm18 0c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3z" fill="#111111" stroke-width="0px"></path>
                    </svg>
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    {% if request.user == pin.user %}
                    <li><a id="editPinBtn" class="dropdown-item" href="#">Edit pin</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ pin.file.url }}" download>Download image</a></li>
                </ul>
            </div>
            <div class="col-md-4">{{save_to_board_form.board}}</div>
            <div class="col-md-1">
                <button type="submit" class="save-btn text-white"><b>Save</b></button>
            </div>
        </div>
        </form>
        <p><a class="text-black" href="http://{{pin.link}}">{{ pin.link }}</a></p>
        <h1><b>{{pin.title}}</b></h1>
        <div class="row">
            <div class="col-md-1">
                <a href="{% url 'accounts:profile' pin.user.username %}">
                    <img src="{{ pin.user.profile.photo.url }}" class="rounded-circle" width="50" height="50">
                </a>
            </div>
            <div class="col-md-7 ms-1">
                <a href="{% url 'accounts:profile' pin.user.username %}" class="text-decoration-none text-dark">
                    <b class="ms-3">{{pin.user.username}}</b>
                </a>
                <p class="ms-3" style="font-size: 13px;">{{ pin.user.following.count }} followers</p>
            </div>
            {% if pin.user != request.user %}
            <div class="col-md-1 mt-1">
                {% if is_following %}
                <a href="{% url 'accounts:unfollow' pin.user.username %}" class="following-btn btn text-white"><b>Following</b></a>
                {% else %}
                <a href="{% url 'accounts:follow' pin.user.username %}" class="main-btn btn text-black"><b>Follow</b></a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="mt-1">{{ pin.description }}</div>
        <h5 class="mt-3">
            <b>Comments</b>
            <a href="#" id="openComments">
                <svg class="mb-1 ms-2 Hn_ gUZ pBj U9O kVc" height="18" width="18" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img"><path d="M6.72 24c.57 0 1.14-.22 1.57-.66L19.5 12 8.29.66c-.86-.88-2.27-.88-3.14 0-.87.88-.87 2.3 0 3.18L13.21 12l-8.06 8.16c-.87.88-.87 2.3 0 3.18.43.44 1 .66 1.57.66" fill="#111111" stroke-width="0px"></path></svg>
            </a>
        </h5>
        <form style="display: none;" action="{% url 'pins:add_comment' pin.id %}" id="commentsForm" method="post">
            <p style="font-size: 12px;" >Share feedback, ask a question or give a high five</p>
            {% csrf_token %}
            <div class="row">
                {% for comment in pin.comments.all %}
                <div class="col-md-1 me-4 mt-3">
                    <img src="{{ comment.user.profile.photo.url }}" class="rounded-circle" width="50" height="50">
                </div>
                <div class="col-md-10 mt-1 mb-2">
                    <div class="border p-2 comment-text-border">
                        <span><b>{{ comment.user.username }}</b></span><br>
                        <span class="text-muted">
                            {{ comment.text }}
                        </span>
                    </div>
                    <div class="row">
                        <div class="dropdown col-md-2 ms-3">
                            <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="gUZ B9u U9O kVc" height="16" width="16" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img"><path d="M12 9c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3M3 9c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm18 0c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3z" fill="#767676" stroke-width="0px"></path></svg>
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="{% url 'pins:delete_comment' comment.id %}">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row mt-3">
                <div class="col-md-1 me-4">
                    <img src="{{ request.user.profile.photo.url }}" class="rounded-circle" width="50" height="50">
                </div>
                <div class="col-md-10 mt-1">
                    {% csrf_token %}
                    {{ comment_form.text }}
                </div>
            </div>
        </form>
        <div class="mt-5"><b>{{pin.user.username}}</b> saved to <b>{{pin.board.title}}</b></div>
    </div>
</div>
<!-- Edit pin modal -->
<div id="editPinForm" class="modal">
    <div class="row edit-pin-modal p-4">
        <div class="col-md-8">
            <form action="{% url 'pins:edit_pin' pin.id %}" method="post">
                {% csrf_token %}
                {{ edit_form }}
                <button style="float: right;" type="submit" class="mt-3 red-btn btn text-white"><b>Save</b></button>
            </form>
            <div class="mt-3">
                <a href="" style="float: right;" class="main-btn btn me-2 text-black"><b>Cancel</b></a>
                <a href="{% url 'pins:delete_pin' pin.id %}" class="main-btn btn text-black"><b>Delete</b></a>
            </div>
        </div>
        <div class="col-md-4">
            {% if pin.get_type == 'video' %}
            <video class="p-2 edit-modal-video" autoplay muted>
                <source src="{{ pin.file.url }}">
            </video>
            {% elif pin.get_type == 'image' %}
            <img src="{{ pin.file.url }}" class="mt-4 p-2 edit-modal-img" />
            {% endif %}
        </div>
    </div>
</div>
<div class="col-md-2"></div>
<h3 class="text-black text-center mt-3"><b>More like this</b></h3>
<div class="row mt-4">
    {% for pin in related_pins %}
    <div class="img-container col-md-2 mb-3">
        <a href="{% url 'pins:pin_detail' pin.id %}">
            {% if pin.get_type == 'video' %}
                <video autoplay muted loop class="video" >
                    <source src="{{ pin.file.url }}" >
                </video>
            {% elif pin.get_type == 'image' %}
                <img style="object-fit: cover; border-radius: 20px; cursor: zoom-in;" height="300" width="200" src="{{ pin.file.url }}">
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>

<script>
// comments open and close form in pin detail
const openComments = document.querySelector('#openComments')
const commentsForm = document.querySelector('#commentsForm')

openComments.addEventListener('click', (e) => {
    e.preventDefault()
    if(commentsForm.style.display === 'none'){
        commentsForm.style.display = 'block';
        openComments.innerHTML = '<svg class="mb-1 ms-2 gUZ pBj U9O kVc" height="18" width="18" viewBox="0 0 24 24" aria-label="Select a board you want to save to" role="img"><path d="M12 19.5.66 8.29c-.88-.86-.88-2.27 0-3.14.88-.87 2.3-.87 3.18 0L12 13.21l8.16-8.06c.88-.87 2.3-.87 3.18 0 .88.87.88 2.28 0 3.14L12 19.5z" fill="#111111" stroke-width="0px"></path></svg>'
    } else{
        commentsForm.style.display = 'none';
        openComments.innerHTML = '<svg class="mb-1 ms-2 Hn_ gUZ pBj U9O kVc" height="18" width="18" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img"><path d="M6.72 24c.57 0 1.14-.22 1.57-.66L19.5 12 8.29.66c-.86-.88-2.27-.88-3.14 0-.87.88-.87 2.3 0 3.18L13.21 12l-8.06 8.16c-.87.88-.87 2.3 0 3.18.43.44 1 .66 1.57.66" fill="#111111" stroke-width="0px"></path></svg>'
    }
})

// edit pin modal
const editPinBtn = document.querySelector("#editPinBtn");
const editPinForm = document.querySelector("#editPinForm");

editPinBtn.addEventListener("click", (e) => {
  e.preventDefault();
  editPinForm.style.display = "block";
});

window.addEventListener("click", (e) => {
  if (e.target === editPinForm) {
    editPinForm.style.display = "none";
  }
});
</script>


{% endblock %}